@import "tailwindcss";

@theme {
  --font-proxima: proxima;
  --font-proxima-bold: proxima-bold;
  --color-grey-1: #8d99ae;
  --color-grey-2: #727d73;
  --color-grey-3: #c4c4c4;
  --color-dark-1: #000000;
  --color-dark-blue: #183153;
  --color-light-green: #d7fc90;
}

@font-face {
  font-family: proxima;
  src: url("assets/fonts/proxima_nova/ProximaNova-Regular.otf");
}
@font-face {
  font-family: proxima-bold;
  src: url("assets/fonts/proxima_nova/Proxima Nova Alt Bold.otf");
}
button {
  cursor: pointer;
}
.bs-1 {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 0px 0px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.bg-gradient-1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 50%,
    rgba(224, 224, 224, 1) 100%
  );
}
.project-li {
  @apply border-1 rounded-2xl px-2 mx-auto;
}
.bs-2 {
  box-shadow: 0 0.375em 0 #183153;
}
